/* ESTILO GERAL */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #000000;
    height: 100vh;
}

.logo img {
    max-width: 150px; 
    height: auto;     
    display: block;   
}

.logo-footer img {
    max-width: 150px;
    height: auto;    
    display: block;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color:#fff;
    background-color: #A51C30;
    border:0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
 color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00FF08;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #A51C30;
    transform: scale(1.05);
    color:#A51C30;
    background-color:  #ffff;
}

/* ESTILO DO CABEÇALHO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav.menu-desktop a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative; 
    padding-bottom: 5px; 
    transition: color 0.8s ease; 
}

header nav.menu-desktop a::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;  
    width: 0%;   
    height: 2px; 
    background-color: #A51C30; 
    transition: width 0.8s ease-in-out;
}

header nav.menu-desktop a:hover::after {
    width: 100%; 
}

header nav.menu-desktop a:hover {
    color: #A51C30; 
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;;
}

/* ESTILO DO MENU MOBILE */

.btn-abrir-menu i{
    color:#A51C30;
    font-size:40px;
    cursor: pointer;
}   

.menu-mobile{
    background-color: #1e1e1ef8;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: 0.8s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.btn-abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%
}

.menu-mobile .btn-fechar i{
    color: #A51C30;
    font-size:30px;
}

.menu-mobile nav ul{
    text-align: center;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
    position: relative;
    text-decoration: none;
    padding-bottom: 5px;
    transition: color 0.8s ease; 
}

.menu-mobile nav ul li a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: #A51C30; 
    transition: width 0.8s ease-in-out;
}

.menu-mobile nav ul li a:hover::after {
    width: 100%; 
}

.menu-mobile nav ul li a:hover {
    color: #A51C30;
}

.overlay-menu {
    background-color: #1E1E1E(0, 0, 0, 0.5); 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888; 
    display: none; 
}

.overlay-menu.abrir-menu {
    display: block; 
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.img-topo-site img {
    width: 300px; 
    height: auto;
    border-radius: 30px; 
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #A51C30;
    height: 84px;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}
 
.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0% { 
        top: 0px;
    }
    100%{
        top:30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */

section.especialidades{
    padding: 80px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    background-color: #1E1E1E;
    padding: 40px;
    border-radius: 25px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    box-shadow: 0px 0px 8px #A51C30;
    transform: scale(1.05);
    transition: .2s;
}

h2.titulo span{
    color: #A51C30;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #A51C30;;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
    color: #fff;
}

.especialidades .especialidades-box p{
    color: #fff;
}

/*ESTILO DO SOBRE*/

section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 90px;
}

.sobre .txt-sobre{
    color:#fff;
}

.img-sobre img {
    width: 300px; 
    height: auto;
    border-radius: 30px; 
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;

}

.sobre .txt-sobre h2 span{
    font-size: 40px;
    color:#A51C30;;
    display:block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height:60px;
    border-radius: 50%;
    border: none;
    background-color: #A51C30;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.btn-social button:hover{
    color:#A51C30;
    background-color:  #ffff;
}

/* ESTILO DO PORTFÓLIO */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.233)
}

section.portfolio .flex{
    justify-content: space-around;
}

section.portfolio h2{
    margin-bottom: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor:pointer;
    border-radius: 40px;
    position: relative;
    margin: 0 auto;
    margin-left: 20px;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1eab;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:24px;
    font-weight: 600;
    color:#fff;
    opacity: 0;
    transition: .5s;
}

.img-port:hover .overlay{
    opacity: 1;
}

/* ESTILO DO FORMULÁRIO */

section.formulario{
    padding: 80px 4%;
}

section.formulario h2{
    margin-bottom: 40px;
}

form{
    margin-top: 40px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input{
    width: 100%;
    background-color:#2D2D2D;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    width: 100%;
    max-height: 200px;
    background-color: #2D2D2D;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    resize: none;
}

form .btn-enviar{
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    margin-top: 40px;
    background-color: #A51C30;
    color:#000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO FOOTER */

footer{
    padding: 60px 4%;
    box-shadow: 0px 0px 40px 10px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
    align-items: center;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #A51C30;
}

footer .line-footer p i{
    color: #A51C30;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
}

@media screen and (max-width: 1020px){
     /* CLASSES GERAIS */
     .flex{
        flex-direction: column;
        text-align: center;
     }

     h2.titulo{
        font-size:38px;
        line-height: 34px;
     }
    
     .topo-do-site .flex{
        flex-direction:column-reverse;
     }
    
    /* ESTILO DO CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* ESTILO DO TOPO DO SITE */
    section.topo-do-site .flex{
        gap: 40px;
    }
    
    section.topo-do-site{
        padding:20px 8%;
    }
    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    .img-topo-site img {
    max-width: 250px; 
    height: auto;
    border-radius: 30px; 
}

    /* ESTILO DAS ESPECIALIDADES */
    section.especialidades{
        padding: 40px 4%;
    }

    /* ESTILO DO SOBRE */
    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre{
        width: 100%;
    }

    /* ESTILO DO PORTFÓLIO */
    section.portfolio{
        padding: 80px 8%;

    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    section.portfolio .flex{
        gap:60px;
    }

     /* RODAPÉ */
        footer .flex{
            flex-direction: column;
            gap: 30px;
        }

        footer .line-footer{
            flex-direction: column;
            gap: 30px;
        }
}